<%- include("partials/header")-%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="heading">Heading</label>
        <input type="text"  name="heading" class="form-control" name="input">
        <label for="content"> Content</label>
       <textarea  class="form-control" name="content" id="" rows="10" >
               
            </textarea>
        </div>
       
   
    <button type="submit" class="btn btn-primary">Post</button>
    
</form>
<%- include("partials/footer")-%>